// Bootstrap breakpoints
$bp-s : 526px;
$bp-m: 768px;
$bp-lg: 960px;
$bp-xl: 1200px;

//Primary Colors
$blue: #00538c;
$green: #5fb061;
$black: #373B3C;
$white: #ffffff;

//Secondary Colors
$light-grey: #e3e3e3;
$green-shadow: #346c36;

// Fonts
$font-weight-map: (
        light           :   300,
        regular         :   400,
        bold            :   600,
);
$primary-font-family: Lato,Georgia,Times,serif;
