{
	"root": true,
	"parser": "@typescript-eslint/parser",
	"parserOptions": {
		"ecmaFeatures": {
			"jsx": true
		},
		"ecmaVersion": 2018,
		"sourceType": "module",
		"project": "./tsconfig.json"
	},
	"plugins": [
		"react",
		"@typescript-eslint",
		"prettier"
	],
	"extends": [
		"airbnb-typescript",
		"airbnb/hooks",
		"plugin:@typescript-eslint/recommended",
		"plugin:jest/recommended",
		"prettier",
		"prettier/react",
		"prettier/@typescript-eslint",
		"plugin:prettier/recommended"
	],
	"env": {
		"browser": true,
		"jest": true
	},
	"globals": {
		"Atomics": "readonly",
		"SharedArrayBuffer": "readonly"
	},
	"ecmaFeatures": {
		"arrowFunctions": true,
		"blockBindings": true,
		"classes": true,
		"defaultParams": true,
		"destructuring": true,
		"forOf": true,
		"modules": true,
		"objectLiteralComputedProperties": true,
		"objectLiteralShorthandMethods": true,
		"objectLiteralShorthandProperties": true,
		"spread": true,
		"superInFunctions": true,
		"templateStrings": true,
		"unicodeCodePointEscapes": true,
		"jsx": true
	},
	"rules": {
		"react/jsx-boolean-value": 2,
		"react/jsx-no-undef": 2,
		"react/jsx-sort-props": 0,
		"react/jsx-sort-prop-types": 0,
		"react/jsx-uses-react": 2,
		"react/jsx-uses-vars": 2,
		"react/no-did-mount-set-state": 2,
		"react/no-did-update-set-state": 2,
		"react/no-multi-comp": 2,
		"react/no-unknown-property": 1,
		"react/prop-types": 1,
		"react/react-in-jsx-scope": 2,
		"react/self-closing-comp": 2,
		"react/wrap-multilines": 0,
		"jest/no-disabled-tests": 1,
		"jest/no-focused-tests": 2,
		"jest/no-identical-title": 2,
		"jest/prefer-to-have-length": 1,
		"jest/valid-expect": 2
	}
}
