@import '~bootstrap/dist/css/bootstrap-grid.min.css';
@import './global_styles/variables';

body {
  margin: 0 auto;
  max-width: 97%;
  background-color: $white;
  box-shadow: 0 15px 40px rgba(0,0,0,0.2);
  display: block;
}
