@import '~bootstrap/dist/css/bootstrap-grid.min.css';
@import './styles/variables';

body {
  margin: 0 auto;
  max-width: 97%;
  background-color: $white;
  box-shadow: 0 15px 40px $light-grey;
  display: block;
}
